{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Pokuty přehled</h6>
    </div>
  <dsiv class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Jméno</th>
              <th>Pokuta</th>
              <th>Cena</th>
            </tr>
          </thead>
          <tbody>
              {% for record in records %}
            <tr>
              <th>{{record.penaltyDate}}</th>
              <th>{{record.user}}</th>
              <th>{{record.penaltyName}}</th>
              <th>{{record.penaltyPrice}} Kč</th>
            </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
{% endblock %}