{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<label for="penalty">Vyber pokutu:</label>
<select class="dropdown-header" name="penalty" id="penalty" required=True>
    <option class="dropdown-item" value="">--Prosím vyber pokutu--</option> 
    {% for x in pokuty %}
        <option class="dropdown-item" value={{x.id}} >{{x.name}}
    {% endfor %}
</select>
<br>
<br>
{% for user in users  %}
    <input class="custom-checkbox" type="checkbox" name={{user.id}}> {{user.first_name}} {{user.last_name}}</input>
    <br>
{% endfor %}


 {% endblock %}